@(myForm: Form[model.Users])(errorMessage: String)

@main(""){
    <body id="loginpage">
        <a class="accessibility" href="#login">@Messages("authentication.navlink.login.value")</a>

        @header()

        @navigation{
            <li><a id="registerlink" title="@Messages("nav.link.register.description")" href="register.html" accesskey="r">@Messages("nav.link.register.value")</a></li>
        }

        <!-- Login section -->
        <section role="main">
            <section id="login" aria-labelledby="loginheading">
                @helper.form(action = routes.UserManagement.authenticate) {
                    <fieldset>
                        <legend>@Messages("authentication.head.login")</legend>
                        @helper.inputText(myForm("name"),
                            '_label->Messages("user.username"),
                            '_showConstraints->false
                        )
                        @helper.inputPassword(myForm("password"),
                            '_label->Messages("user.password"),
                            '_showConstraints->false
                        )
                        <input id="loginsubmit" type="submit" value="Anmelden"/>
                    </fieldset>
                }
            </section>
            <section>
                <p>@errorMessage</p>
            </section>
            <!-- Register section -->
            <section id="register" aria-labelledby="registerheading">
                <h2 id="registerheading" class="accessibility">@Messages("authentication.accessability.head.registration")</h2>
                <p>@Messages("authentication.p.notRegistered")</p>
                <a href="registration">@Messages("authentication.link.Registration")</a>
            </section>
        </section>

        @footer();
    </body>
}
