@(myForm: Form[model.Users])

@main(""){
        <body id="registerpage">
            <a class="accessibility" href="#register">Zur Registrierung springen</a>
            <header role="banner" aria-labelledby="mainheading"><h1 id="mainheading"><span class="accessibility">Business Informatics Group</span> Quiz</h1></header>
            <nav role="navigation" aria-labelledby="navheading">
                <h2 id="navheading" class="accessibility">Navigation</h2>
                <ul>
                    <li><a id="loginlink" title="Klicke hier um dich anzumelden" href="#" accesskey="l">Anmelden</a></li>
                </ul>
            </nav>
            <section role="main" id="register" aria-labelledby="registerheading">
                <!-- Register section -->
                <h2 id="registerheading" class="accessibility">Registrierung</h2>
                @helper.form(action = routes.UserManagement.saveUser) {
                    <fieldset>
                        <legend>Persönliche Daten</legend>
                        <!--
                        <label for="firstname">Vorname:</label>
                        <input id="firstname" type="text" name="firstName"/>
                        -->
                        @helper.inputText(myForm("firstname"),
                            '_label->"Firstname"
                        )
                        @helper.inputText(myForm("lastname"),
                            '_label->"Lastname"
                        )
                        @helper.inputDate(myForm("birthday"),
                            '_label->"Birthday"
                        )
                        @helper.select(myForm("gender"),
                            options = Seq("male"->"Male", "felmale"->"Female"),
                            '_label->"Gender"
                        )
                    </fieldset>
                    <fieldset>
                        <legend>Login Daten</legend>
                        @helper.inputText(myForm("name"),
                            '_label->"Username"
                        )
                        @helper.inputPassword(myForm("password"),
                            '_label->"Password"
                        )
                        @helper.inputPassword(myForm("passwordConfirm"),
                            '_label->"PasswordConfirm"
                        )
                        <input id="registersubmit" type="submit" value="Registrieren" accesskey="s"/>
                        <p id="requiredhint">Mit "*" gekennzeichnete Felder sind Pflichtfelder</p>
                    </fieldset>
                }
            </section>


            <!-- footer -->
            <footer role="contentinfo">© 2014 BIG Quiz</footer>
        </body>
}
