@(myForm: Form[model.Users])

@main(""){
        <body id="registerpage">
            <a class="accessibility" href="#register">Zur Registrierung springen</a>
            <header role="banner" aria-labelledby="mainheading"><h1 id="mainheading"><span class="accessibility">Business Informatics Group</span> Quiz</h1></header>
            <nav role="navigation" aria-labelledby="navheading">
                <h2 id="navheading" class="accessibility">Navigation</h2>
                <ul>
                    <li><a id="loginlink" title="Klicke hier um dich anzumelden" href="#" accesskey="l">Anmelden</a></li>
                </ul>
            </nav>
            <section role="main" id="register" aria-labelledby="registerheading">
                <!-- Register section -->
                <h2 id="registerheading" class="accessibility">Registrierung</h2>
                @helper.form(action = routes.UserManagement.saveUser) {
                    <fieldset>
                        <legend>Persönliche Daten</legend>
                        <!--
                        <label for="firstname">Vorname:</label>
                        <input id="firstname" type="text" name="firstName"/>
                        -->
                        @helper.inputText(myForm("Firstname"))
                        @helper.inputText(myForm("Lastname"))
                        @helper.inputDate(myForm("Birthday"))
                        @helper.select(myForm("Gender"),
                            options = Seq("male"->"Male", "felmale"->"Female")
                        )
                    </fieldset>
                    <fieldset>
                        <legend>Login Daten</legend>
                        @helper.inputText(myForm("Username"))
                        @helper.inputPassword(myForm("Password"))
                        @helper.inputPassword(myForm("PasswordConfirm"))
                    </fieldset>

                }
            </section>


            <!-- footer -->
            <footer role="contentinfo">© 2014 BIG Quiz</footer>
        </body>
}
